In [27]:
import pandas as pd
import seaborn as sns

In [28]:
dataset = pd.read_csv("./Edureka.csv")

In [29]:
dataset.head()

  Day  Outlook  Humidity   Wind  Play
0  D1     Sunny     High    Weak   No
1  D2     Sunny     High  Strong   No
2  D3  Overcast     High    Weak  Yes
3  D4      Rain     High    Weak  Yes
4  D5      Rain   Normal    Weak  Yes

In [30]:
dataset.drop("Day",axis=1,inplace=True)

In [31]:
dataset.head()

   Outlook  Humidity   Wind  Play
0     Sunny     High    Weak   No
1     Sunny     High  Strong   No
2  Overcast     High    Weak  Yes
3      Rain     High    Weak  Yes
4      Rain   Normal    Weak  Yes

In [32]:
X = dataset.iloc[:,0:3]
X.head()

   Outlook  Humidity   Wind
0     Sunny     High    Weak
1     Sunny     High  Strong
2  Overcast     High    Weak
3      Rain     High    Weak
4      Rain   Normal    Weak

In [33]:
Y = dataset.iloc[:,3]
Y.head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Play, dtype: object

In [34]:
outlook = pd.get_dummies(dataset["Outlook "],drop_first=True)
outlook.head()

   Rain  Sunny
0     0      1
1     0      1
2     0      0
3     1      0
4     1      0

In [35]:
humidity = pd.get_dummies(dataset["Humidity"],drop_first=True)
humidity.head()

   Normal
0       0
1       0
2       0
3       0
4       1

In [36]:
wind = pd.get_dummies(dataset["Wind "],drop_first=True)
wind.head()

   Weak
0     1
1     0
2     1
3     1
4     1

In [37]:
X = pd.concat([X,outlook,humidity,wind],axis=1)
X.head()

   Outlook  Humidity   Wind   Rain  Sunny  Normal  Weak
0     Sunny     High    Weak     0      1       0     1
1     Sunny     High  Strong     0      1       0     0
2  Overcast     High    Weak     0      0       0     1
3      Rain     High    Weak     1      0       0     1
4      Rain   Normal    Weak     1      0       1     1

In [38]:
X.drop(['Outlook ','Humidity','Wind '],axis=1,inplace = True)

In [39]:
X.head()

   Rain  Sunny  Normal  Weak
0     0      1       0     1
1     0      1       0     0
2     0      0       0     1
3     1      0       0     1
4     1      0       1     1

In [40]:
play = pd.get_dummies(dataset["Play"],drop_first=True)
play.head()

   Yes
0    0
1    0
2    1
3    1
4    1

In [107]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = .20,random_state = 20)

In [108]:
X_train.head()

   Rain  Sunny  Normal  Weak
1     0      1       0     0
5     1      0       1     0
0     0      1       0     1
2     0      0       0     1
7     0      1       0     1

In [109]:
#KNN Classifer
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5,metric="minkowski",p=2)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [110]:
predictions = classifier.predict(X_test)

In [111]:
from sklearn.metrics import confusion_matrix
confusion_matrix(predictions, y_test)

array([[0, 0],
       [1, 2]])

In [112]:
from sklearn.metrics import accuracy_score
accuracy_score(predictions, y_test)

0.6666666666666666

In [115]:
#Logisitcs Classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=42)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [116]:
predictions = classifier.predict(X_test)

In [117]:
from sklearn.metrics import confusion_matrix
confusion_matrix(predictions, y_test)

array([[0, 0],
       [1, 2]])

In [118]:
from sklearn.metrics import accuracy_score
accuracy_score(predictions, y_test)

0.6666666666666666